{erl_opts, [debug_info]}.
{deps, [
        {mstore, "~>0.3.5"},
        {bitmap, "~>0.1.4", {pkg, ebitmap}}
       ]}.

{escript_incl_apps,
 [mstore_inspector]}.
{escript_main_app, mstore_inspector}.
{escript_name, mstore_inspector}.
{escript_emu_args, "%%! +sbtu +A0\n"}.

%% Profiles
{profiles, [
            {shell, [{deps, [sync]}]},
            {lint, [{plugins, [rebar3_lint]}]},
            {test, [{erl_opts, [debug_info]}
            ]}]}.
